<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Accueil</title>
</head>
<body>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Create a new picture by Gan model from theme </h1>
    
	<form action="/handleTheme" method="post">
            <label style="font-size:20px" for="theme-select">Choose a theme:</label>

			<select name="themeChoix" id="picture-select">
				<option value="">Quelle inspiration pour votre image ?</option>
				<option value="cartoon">Cartoon</option>
				<option value="videogaming">Video gaming</option>
				<option value="heroic-fantasy">Heroic-fantasy</option>
				<option value="heroes">Heroes</option>
				<option value="saga">Saga intergalactique</option>
			</select>
			<br />
				<input class="inputClass" type="submit" value="Validez"/>
    </form>
	<p>I'm Arnaud Baleh, an AI Developer</p>
  </div>
</div>
<p>PHOTOGRAPHY BY STEPHEN KENT JOHNSON; WALLPAPER FROM THE JOHN DERIAN PICTURE BOOK</p>
</body>
	<form action="/handleImage" method="post">
            <label style="font-size:20px" for="theme-select">Afficher images du dataset:</label><br />

			<select name="choix" id="picture-select">
				<option value="">Choisissez le thème</option>
				<option value="file">Cartoon</option>
				<option value="VideoGamingCharacters">Video gaming</option>
				<option value="heroic-fantasy">Heroic-fantasy</option>
				<option value="super-heroes">Heroes</option>
				<option value="sagaIntergalactique">Saga intergalactique</option>
			</select>
			<br />
			<select name="nombre" id="picture-select">
				<option value="">Combien d'images à selectionner</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				
			</select>
				<input class="inputClass" type="submit" value="Validez"/>
    </form>
</html>
